In [3]:
import pandas as pd
import requests as req
import json
import os
import csv

response = req.get('https://api.covid19india.org/v2/state_district_wise.json')

os.system('clear')

json1 = json.loads(response.text)

rows = []

for row in json1:
  districtData = row['districtData']
  
  for data in districtData:
    data['state'] = row['state']
    rows.append(data)

DF = pd.DataFrame(rows)

# print(json[1]['districtData'])


DF1=DF.drop("lastupdatedtime",axis=1)
DF2=DF1.drop("delta",axis=1)
data_file = open('data_file.csv', 'w')
csv_writer = csv.writer(data_file) 
DF2.to_csv('Districts.csv', index=False)

             district  confirmed                   state
0            Thrissur         13                  Kerala
1           Alappuzha          5                  Kerala
2           Kasaragod        168                  Kerala
3      Pathanamthitta         17                  Kerala
4              Kannur         82                  Kerala
..                ...        ...                     ...
406           Unknown          1  Dadra and Nagar Haveli
407            Gomati          1                 Tripura
408     North Tripura          1                 Tripura
409           Dimapur          1                Nagaland
410  East Khasi Hills          7               Meghalaya

[411 rows x 3 columns]